{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid p-0 m-0">
    {% include 'navbar.html' %} 
    <!-- SLIDE -->
    <div id="carouselExampleControls"  class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'image/main_slide/image_1.jpg' %}" class="d-block w-100" >
            </div>
            <div class="carousel-item">
                <img src="{% static 'image/main_slide/image_2.jpg' %}" class="d-block w-100" >
            </div>
            <div class="carousel-item">
                <img src="{% static 'image/main_slide/image_3.jpg' %}" class="d-block w-100" >
            </div>
        </div>
        <!-- SEARCH BURADA -->
        <div class="row" id="title" >
            <div  class="col-md-12"> 
                <h2 class="slide_h2">MADE WITH LOVE AND  PASSION</h2>
                <p class="slide_p">MAKE YOUR BID AND GET THE BEST HANDMADE GOODS EVER</p>
                <button class="get_started">GET STARTED</button>
            </div>
        </div>
    </div>  
</div>
     <!-- COMPANY HISTORY -->
<div class="container">
    <div class="row company_history">
        <div class="container">
            <div class="row justify-content-center ">
                 <div class="col-md-5  ">
                     <h3>Company History</h3>
                     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, voluptate! Numquam error possimus ratione reiciendis minima voluptatem saepe ab minus et.amet consectetur adipisicing elit. Officia, voluptate! Numquam error possimus ratione reiciendis minima voluptatem saepe ab minus etamet consectetur adipisicing elit. Officia, voluptate! Numquam error possimus ratione reiciendis minima voluptatem saepe ab minus et Soluta ipsa consequuntur saepe eum omnis, enim placeat? Quibusdam sequi quaerat blanditiis aliquam esse aliquid tempora .</p>
             
                 </div>
                 <div class="col-md-5">
                     <img id="comphistoryimg" src="{% static 'image/main_slide/image_1.jpg' %}" alt="">
                 </div>
             
            </div>
        </div>
     
     </div>
     <!-- TEAM MEMBERS -->
     
     <div  class="row" id="teamtitle">
         <div class="col-md-12 p-0 text-center">
        
             <h3>Team Members</h3>
         </div>
     
     </div>
     
     <div class="row team">
         <div class="col-md-4 komanda">
             <div class="card middle">
                 <div class="front">
                     <img src="{% static 'image/workpic/rashid.jpg' %}" alt="">
                 </div>
                 <div class="back">
                     <div class="back-content middle">
                         <h2>Rashid Jabrayil</h2>
                         <span>Front-End Developer</span>
                         <div class="sm">
                             <a href="#"><i class="fa fa-facebook-f"></i></a>
                             <a href="#"><i class="fa fa-twitter"></i></a>
                             <a href="#"><i class="fa fa-youtube"></i></a>
                             <a href="#"><i class="fa fa-instagram"></i></a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     
         <div class="col-md-4 komanda">
             <div class="card middle">
                 <div class="front">
                     <img src="{% static 'image/workpic/ali.jpg' %}" alt="">
                 </div>
                 <div class="back">
                     <div class="back-content middle">
                        <h2>Ali Hasanov</h2>
                        <span>Back-End Developer </span>
                        <div class="sm">
                            <a href="https://www.facebook.com/cinarli057/" target="_blank">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                           <a href="https://twitter.com/cinarli57" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                             <a href="https://www.youtube.com/channel/UC2UoCvBoqXPEiCIbDNN6tog?view_as=subscriber" target="_blank">
                               <i class="fa fa-youtube"></i>
                            </a>
                            <a href="https://www.instagram.com/cinarli57/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                     </div>
                 </div>
             </div>
         </div>
         
     
         <div class="col-md-4 komanda">
             <div class="card middle">
                 <div class="front">
                     <img src="{% static 'image/workpic/idris.jpg' %}" alt="">
                 </div>
                 <div class="back">
                     <div class="back-content middle">
                     <h2>Idris Shabanli</h2>
                     <span> Super Back-End Developer</span>
                     <div class="sm">
                         <a href="#"><i class="fa fa-facebook-f"></i></a>
                         <a href="#"><i class="fa fa-twitter"></i></a>
                         <a href="#"><i class="fa fa-youtube"></i></a>
                         <a href="#"><i class="fa fa-instagram"></i></a>
                     </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     {% include 'footer.html' %} 
</div>
         
{% endblock content %} 