
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid p-0 m-0">
        {% include 'navbar.html' %} 
        <!-- SLIDE -->
        <div id="carouselExampleControls"  class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'image/main_slide/image_1.jpg' %}" class="d-block w-100" >
                </div>
                <div class="carousel-item">
                    <img src="{% static 'image/main_slide/image_2.jpg' %}" class="d-block w-100" >
                </div>
                <div class="carousel-item">
                    <img src="{% static 'image/main_slide/image_3.jpg' %}" class="d-block w-100" >
                </div>
            </div>
            <!-- SEARCH BURADA -->
            <div class="row" id="title" >
                <div  class="col-md-12"> 
                        <h2 class="slide_h2">MADE WITH LOVE AND  PASSION</h2>
                        <p class="slide_p">MAKE YOUR BID AND GET THE BEST HANDMADE GOODS EVER</p>
                        <button class="get_started">GET STARTED</button>
                </div>
            </div>
        </div>  
    </div>

<div class='container'>

    {% comment %} selected begin {% endcomment %}
    <div class="row p-0" id="selected" >  
            <div class="col-md-12 selected_all">
                <h4>SELECTED WORK</h4>
                
                <div class="col-md-8 selected_p">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Tenetur reiciendis mollitia nam ad architecto in vitae tempora enetur reiciendis mollitia nam ad architecto in vitae tempora id velit! Sed?</p>
                </div>      
                    
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 p-1">
                        <img src="{% static 'image/workpic/IMG_0088.JPG' %}"  class="workpic">
                    </div>
                    <div class="col-md-6 p-1">
                            <img src="{% static 'image/workpic/pulqabı.jpg' %}"  class="workpic" >
                    </div>
                    <div class="col-md-6 p-1">
                            <img src="{% static 'image/workpic/Stol.jpg' %}"  class="workpic">
                    </div>
                    <div class="col-md-6 p-1">
                        <img src="{% static 'image/workpic/handmadeknife.jpg' %}"  class="workpic" >
                    </div>
                </div> 
            </div>
            <div class="col-md-2"></div>
    </div>
    {% comment %} selected end {% endcomment %}
    {% comment %} happyclient {% endcomment %}
    <div class="row happyclient ">
        <div class="col-md-12 text-center p-0">
            <h4>HAPPY CLIENT</h4>
            <!-- SLIDE HERERE -->
            <section class="pt-5 circle-1">
                
                <div class="container pb-5 position-relative">
                    <div id="demo" class="carousel slide position-relative" data-ride="carousel">
                    <!-- Indicators -->                       
                        <!-- The slideshow -->
                        <div class="carousel-inner happy_client_slide">
                            <div class="carousel-item active carousel-item-left">
                                <div class="d-flex">
                                    <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                        <a href="#" class="introduce pb-3">
                                            <div class="flex-column-1 ">
                                                <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                            </div>
                                            <div class="flex-column-2 d-flex">
                                                <div class="pic p1"></div>
                                                <div class="information  flex-column pl-3 pt-2">
                                                    <p>David Beckham</p>
                                                    <p class="text-gray">Managing Director</p>
                                                </div>
                                            </div>
                                            <span></span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                        <a href="#" class="introduce pb-3">
                                            <div class="flex-column-1 ">
                                                <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                            </div>
                                            <div class="flex-column-2 d-flex">
                                                <div class="pic p2"></div>
                                                <div class="information  flex-column pl-3 pt-2">
                                                    <p>David Luiz</p>
                                                    <p class="text-gray">Ceo &amp; Founder</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                                        <a href="#" class="introduce pb-3">
                                            <div class="flex-column-1 ">
                                                <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                            </div>
                                            <div class="flex-column-2 d-flex">
                                                <div class="pic p3"></div>
                                                <div class="information  flex-column pl-3 pt-2">
                                                    <p>Donna Karan</p>
                                                    <p class="text-gray">Fashion Designer</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>	
                            <div class="carousel-item carousel-item-next carousel-item-left">
                                <div class="d-flex">
                                    <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                        <a href="#" class="introduce pb-3">
                                            <div class="flex-column-1 ">
                                                <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                            </div>
                                            <div class="flex-column-2 d-flex">
                                                <div class="pic p1"></div>
                                                <div class="information  flex-column pl-3 pt-2">
                                                    <p>David Luiz</p>
                                                    <p class="text-gray">Ceo &amp; Founder</p>
                                                </div>
                                            </div>
                                            <span></span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                        <a href="#" class="introduce pb-3">
                                            <div class="flex-column-1 ">
                                                <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                            </div>
                                            <div class="flex-column-2 d-flex">
                                                <div class="pic p2"></div>
                                                <div class="information  flex-column pl-3 pt-2">
                                                    <p>David Luiz</p>
                                                    <p class="text-gray">Ceo &amp; Founder</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                                        <a href="#" class="introduce pb-3">
                                            <div class="flex-column-1 ">
                                                <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                            </div>
                                            <div class="flex-column-2 d-flex">
                                                <div class="pic p3"></div>
                                                <div class="information  flex-column pl-3 pt-2">
                                                    <p>Donna Karan</p>
                                                    <p class="text-gray">Fashion Designer</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="d-flex">
                                    <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                        <a href="#" class="introduce pb-3">
                                            <div class="flex-column-1 ">
                                                <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                            </div>
                                            <div class="flex-column-2 d-flex">
                                                <div class="pic p1"></div>
                                                <div class="information  flex-column pl-3 pt-2">
                                                    <p>Donna Karan</p>
                                                    <p class="text-gray">Fashion Designer</p>
                                                </div>
                                            </div>
                                            <span></span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                        <a href="#" class="introduce pb-3">
                                            <div class="flex-column-1 ">
                                                <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                            </div>
                                            <div class="flex-column-2 d-flex">
                                                <div class="pic p2"></div>
                                                <div class="information  flex-column pl-3 pt-2">
                                                    <p>David Luiz</p>
                                                    <p class="text-gray">Ceo &amp; Founder</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                                        <a href="#" class="introduce pb-3">
                                            <div class="flex-column-1 ">
                                                <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                            </div>
                                            <div class="flex-column-2 d-flex">
                                                <div class="pic p3"></div>
                                                <div class="information  flex-column pl-3 pt-2">
                                                    <p>Donna Karan</p>
                                                    <p class="text-gray">Fashion Designer</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="indi"></li>
                            <li data-target="#demo" data-slide-to="1" class="indi active"></li>
                            <li data-target="#demo" data-slide-to="2" class="indi "></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {% comment %} happyclient end {% endcomment %}
    {% comment %} team {% endcomment %}
    <div class="row" id="team">           
        <div class="col-md-2"></div>
        <div class="col-md-4 p-1">
            <img src="{% static 'image/workpic/bali-web-design_team.jpg' %}" id="teampic" >
        </div>
        <div class="col-md-4 p-1">
            <div class="row m-0">
                <div class="col-md-12 p-0">
                    <img src="{% static 'image/workpic/creative.jpg' %}" id="creative" >
                </div>
                <div class="col-md-12 aboutusgrow">
                    <h6 id="ab">ABOUT US</h6>
                    <h4 id="grow">CREATIVE WE GROW</h4>
                    <p id="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolorum vel blanditiis, maxime tempore qui omnis voluptate itaque cumque nesciunt.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab reiciendis pariatur hic ipsum officiis quo.</p>
                    <button class="learnmore"> Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% comment %} team {% endcomment %}
</div>
<div class="container-fluid p-0 m-0">
    <!-- pink footer buradan bashlayir -->
    <div class="row" id="pinkstart" >
        <div class="col text-center">
            <h4 id="start4">Get Started</h4>
            <p id="p4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, repellendus!</p>
            <button class="get_started2">GET STARTED</button>
        </div> 
    </div>
    {% include 'footer.html' %} 

</div> <!-- SLIDE and title -->
         
   {% endblock content %}   

    


   