<!-- FOOOOOOTER -->


  <div class="row" id="footer" >
      <div class="col-md-2"></div>
      <div class="col-md-3 foot">
          <h6>About Us</h6>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum perferendis ad laudantium reiciendis ut, consequatur possimus mollitia rerum excepturi quisquam aperiam unde necessitatibus sunt atque maiores ipsum tempore quas esse.
          </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3 foot">
          <a href="#">Home</a><br>
          <a href="#">About</a><br>
          <a href="#">Store</a><br>
          <a href="#">Contact</a>
      </div>
      <div class="col-md-3  endicon">
          <a class="logo-social" href="#">
              <i class="fa fa-facebook-f"></i>
          </a>
          <a class="logo-social" href="#">
                  <i class="fa fa-instagram"></i>
          </a>
          <a class="logo-social" href="#">
              <i class="fa fa-twitter"></i>
          </a>
      </div>
  </div>

  <div class="row" id="footer2">
      <div class="col-md-3"></div>
      <div class="col-md-6 foot">
          <p id="p4">
              Copyright ©2019 All rights reserved
          </p>
      </div>
      <div class="col-md-3"></div>
  </div>